body {
    margin: 0px;
    padding: 0px;
    background: #fefefe no-repeat right bottom;
    font-family: "Lucida Grande", "Lucida Sans Unicode", '宋体', Arial;
    color: #666;
    font-size: 12px;
    line-height: 150%;
    height: 100%;
}

.mainbox {
    margin: auto;
    border: 0px;
    background: #ffffff;
}

.left {
    width: 33%;
    height: 400px;
    margin: 0px;
    padding: 0px;
    float: left;
    background: #cdcdcd;
}

.middle {
    padding: 0px;
    float: left;
    width: 33%;
    height: 400px;
    background: #dadada;
}

.right {
    width: 34%;
    float: left;
    height: 400px;
    background: #cccccc;
}

.header {
    margin: auto;
    border: 0px;
    background: #ccd2de;
    width: 100%;
    height: 40px;
}

.footer {
    clear: both;
    margin: auto;
    padding: 5px 0px 5px 0px;
    background: #ccd2de;
    width: 100%;
    height: 40px;
}