.body {
    font-family: "微软雅黑";
    background: #ffd700;
    color: #000;
}


.h1_style{
    color: black;
    font-size: 10px;
    text-align: center;
}

#p_style{
    color: aquamarine;
    text-align: center;
    font-size: 20px;
}

